[build]
  command = "npm run build"
  publish = "dist" 
  # Nota: Se usi Create-React-App invece di Vite, cambia "dist" con "build"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"


[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 8888
  publish = "dist"
